<footer class="footer">
    <div class="footer-container">
        <!-- Columna: Logo -->
        <div class="footer-logo">
            <div class="logo"><img src="/images/elementos/sinfondo.png" alt="" srcset=""></div>
            <p class="footer-slogan">Tu sitio para encontrar alojamiento en Zaragoza</p>

        </div>

        <!-- Columna: Sobre Nosotros -->
        <div class="footer-column">
            <h4>Sobre Nosotros</h4>
            <ul>
                <li><a href="https://www.zaragoza.es">Zaragoza.es</a></li>
                <li><a href="https://www.unizar.es">Universidad de Zaragoza</a></li>
                <div class="footer-social">
                    <a href="#">Facebook</a> | <a href="#">Instagram</a> | <a href="#">Twitter</a>
                </div>


            </ul>
        </div>


        <!-- Columna: Recursos -->
        <div class="footer-column">
            <h4>Recursos</h4>
            <ul>
                <li><a href="/variado/blog">Blog</a></li>
                <li><a href="/variado/privacidad">Política de privacidad</a></li>
                <li><a href="/variado/condiciones">Términos y condiciones</a></li>

            </ul>
        </div>
    </div>
</footer>
