
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Perfil - Kiricasa</title>
    <link rel="icon" href="/images/elementos/sinfondo.ico" type="image/x-icon">

    <!-- Estilos -->
    <th:block th:if="${usuario == null}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosHeaderNoLogged.css}">
    </th:block>
    <th:block th:if="${usuario != null and usuario.rol.name() == 'USER'}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosHeaderLogged.css}">
    </th:block>
    <th:block th:if="${usuario != null and usuario.rol.name() == 'ADMIN'}">
        <link rel="stylesheet" th:href="@{/css/headers/estilosAdmin.css}">
    </th:block>

    <link rel="stylesheet" th:href="@{/css/estilosCodigo.css}">
    <link rel="stylesheet" th:href="@{/css/footer/estilosFooter.css}">
</head>
<body>

<!-- Header -->
<div th:if="${usuario == null}">
    <div th:replace="fragmentos/header :: header_nologged"></div>
</div>
<div th:if="${usuario != null and usuario.rol.name() == 'USER'}">
    <div th:replace="fragmentos/header :: header_user(${usuario.nombre})"></div>
</div>
<div th:if="${usuario != null and usuario.rol.name() == 'ADMIN'}">
    <div th:replace="fragmentos/header :: header_admin(${usuario.nombre})"></div>
</div>
<div id="codigo-wrapper">
    <h2 id="codigo-title">Introduce el código recibido por correo</h2>

    <form id="codigo-form" th:action="@{/auth/nueva-password}" method="post">
        <input type="hidden" name="email" th:value="${email}" />

        <label for="codigo-input">Código:</label>
        <input type="text" id="codigo-input" name="codigo" required>

        <label for="nuevaPassword-input">Nueva contraseña:</label>
        <input type="password" id="nuevaPassword-input" name="nuevaPassword" required>

        <button id="codigo-submit" type="submit">Cambiar contraseña</button>
    </form>

    <p id="codigo-error" th:if="${error}" th:text="${error}"></p>
</div>

<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>
